In [36]:
l = [1,2,3,4,5,'hayat','lodhi',56.7]

In [37]:
for i in l:
    print(i)

1
2
3
4
5
hayat
lodhi
56.7

In [38]:
h = 'hayat_khan'

In [39]:
for i in h:
    print(i)

h
a
y
a
t
_
k
h
a
n

In [40]:
for i in h:
    print(i)
else:
    print("if for loop is complete then else will execute")

h
a
y
a
t
_
k
h
a
n
if for loop is complete then else will execute

In [41]:
l=[1,5,6,3,5,35,'hayat']

In [42]:
for i in l:
    if i == 'hayat':
        break
    print(i)
    
else:
    print("this will execute only if for is going to compelte ")

1
5
6
3
5
35

In [43]:
h = "hayat_khan"
for i in h:
    if i == 'k':
        break
    print(i)
else:
    print("print string",h)

h
a
y
a
t
_

In [44]:
t = (4,65,6,5,6,62)
for i in t:
    print(i)

4
65
6
5
6
62

In [45]:
s = {4,43,55,7,7,7,7,8,8,8,8,9,9,'hayat'}

In [46]:
s

{4, 43, 55, 7, 8, 9, 'hayat'}

In [47]:
for i in s:
    print(i)

hayat
4
55
7
8
9
43

In [48]:
d = {'key1':'hayat','key2':'khan','key3':'lodhi'}

In [49]:
for i in d:
    print('key is ',i,' value is ',d[i])

key is  key1  value is  hayat
key is  key2  value is  khan
key is  key3  value is  lodhi

In [50]:
for i in d:
    print(d[i])

hayat
khan
lodhi

In [51]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [52]:
n = 0
r = []
for i in range(9):
    r.append(i) 
    n = n+1

In [53]:
r

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [54]:

list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [55]:
list(range(0,9,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [56]:
for i in range(4):
    for j in range(0,i+1):
        print("hayat",end = ' ')
    print('\n')

hayat

hayat hayat

hayat hayat hayat

hayat hayat hayat hayat

In [57]:
t = (3,23,45,67,2,4,5,6)

In [58]:
t

(3, 23, 45, 67, 2, 4, 5, 6)

In [59]:
for i in t:
    print(t.index(i),i)

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [60]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [61]:
s = 'ineuron'
for i in range(len(s)):
    print('index is ',i,' value is ',s[i])

index is  0  value is  i
index is  1  value is  n
index is  2  value is  e
index is  3  value is  u
index is  4  value is  r
index is  5  value is  o
index is  6  value is  n

In [62]:
for i in range(len(s),0,-1):
    print(i-1,s[i-1])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [63]:
d

{'key1': 'hayat', 'key2': 'khan', 'key3': 'lodhi'}

In [67]:
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'hayat') <class 'tuple'> <class 'str'>
('key2', 'khan') <class 'tuple'> <class 'str'>
('key3', 'lodhi') <class 'tuple'> <class 'str'>

In [68]:
l = ['sudh','kumar',6565,'jfdsjhgjsah',345,45456465]

In [77]:
l1 =[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [78]:
r

[6565, 345, 45456465]

In [81]:
l2 = []
for i in l:
    if type(i) == str:
        l2.append(i)

In [82]:
l2

['sudh', 'kumar', 'jfdsjhgjsah']

In [92]:
d = {1:'65656', 'name':'sudh','email_id':"hayat@256.com",234:"56565",154:'jdsj'}

In [95]:
for i in d:
    if type(i) == int:
        print(i,':',d[i])

1 : 65656
234 : 56565
154 : jdsj

In [101]:
s = 'aafffdddsfaa'

s.count('a')

4

In [104]:
set(s)

{'a', 'd', 'f', 's'}

In [106]:
for i in set(s):
    print(i,":",s.count(i))

s : 1
a : 4
f : 4
d : 3

In [107]:
# 2:08